brotlipy==0.7.0
cffi==1.14.5
click==8.1.3
Flask==2.2.2
Flask-SQLAlchemy==3.0.2
gunicorn==20.1.0
importlib-metadata==4.5.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
pi-plates==7.1
psycopg2==2.9.3
psycopg2-binary==2.9.5
pycosat==0.6.3
pycparser==2.20
pyparsing==2.4.7
python-dotenv==0.18.0
rpi==0.0.1
scipy==1.7.0
sip==6.1.1
SQLAlchemy==1.4.42

